
{% extends 'base.html' %}
{% block title %}
Team
{% endblock title %}
{% block head %}
<center><h1>Team Members</h1></center>
<p class="text-white">The Pepole Who Put Are All Efforts To Create The Suitable And Healthy Life For Future Generations</p>

{% endblock head %}
 {% block body %}
 <section id="about">
  <div class="about-container" data-aos="fade-up" data-aos-delay="150">
 
 <div class="row row-cols- row-cols-md-">
  {% for post in posts %}
  <div class="col mb-1">
    <div class="card ">
      <img src="{{post.img.url}}" class="card-img-top" alt="...">
      <div class="card-body text-white bg-black">
        <h5 class="card-title">{{post.Teamname}}</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>
  
  {% endfor %}
</div>
 
 {% endblock body %}


